<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Books and Authors</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/book_info.css' %}">
</head>
<body>
    <fieldset>
        <h1>{{books.title}}</h1>
        <h3>ID: {{books.id}} </h3>
        <p>Description: {{books.desc}} </p>
        <p>Authors: </p>
        <ul>
            {% for author in authors %}
            <li>{{ author.first_name}} {{author.last_name}}</li>
            {% endfor %}
        </ul><br>
        <form action="/join_author" method="POST">
            {% csrf_token %}
            <select name="addauthor" >
            {% for author in all_authors %}
                <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
            {% endfor %}
            </select>
            <input type="hidden" name="book_info" value="{{books.id}}">
            <input type="submit" value="Add"> 
        </form>
        <a href="/"> <button>Books</button> </a>
    </fieldset>
</body>
</html>